html 
html 
    head 
        title
        link(rel="stylesheet", href="css/bootstrap.min.css")
    body 
    
        nav(class=" justify-content-md-center navbar navbar-light bg-primary p-2 rounded" style="--bs-bg-opacity: 0.1")
            h4 A Visualization of your Database !
        br
        
        div(class="container justify-content-md-center")
            h2 Database  Connection  Not  Established.
            br
            h2 May  be  you  do  not  have  access  or  credentials  are  wrong.
        
